body{
    background:  #372403;;
    padding: 15px;
    height: 100vh;
    font-family: sans-serif;
}

nav{
    background-color: #201501;
    margin-left: -23px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
}

.navDiv{
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 700px;
}

.heading{
    text-align: center;
    color: #a48d2e;
    font-size: 1.7em;
    margin-top: 120px;
    margin-bottom: 55px;
}

main{
    background: #a48d2e;
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
}

.case{
    height: 300px;
    width: 300px;
    overflow:hidden;
    border-radius: 150px;
    position: relative;
    display: inline-block;
}

.cover{
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.artists{
    text-align: center;
    width: 300px;
}

.navLink{
    color: #a48d2e;
}

.navLink:hover{
    color: #665718;
    transition: 0.5s;
}

.artLink{
    color: #372403;
}

.artLink:hover{
    color: #6f4b0c;
    transition: 0.5s;
}

footer{
    color: #a48d2e;
    text-align: center;
    margin: 100px auto;
    padding-bottom: 50px;
}

.insta{
    color: #a48d2e;
}

.insta:hover{
    color: #665718;
    transition: 0.3s;
}
