*,
*::before,
*::after{
    box-sizing: border-box;
    user-select: none;
}


body{
    background:  #372403;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}



/* NAVIGATION */

nav{
    height: 10vh;
    width: 100%;
    background-color: #201501;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeLink{
    color: #dbb312;
    cursor: pointer;
}

.homeLink:hover{
    color: #665718;
    transition: 0.5s;
}



/* HOME PAGE */
.homePage, .albumsPage, .songsPage{
    padding: 2rem;
}

.heading{
    text-align: center;
    color: #dbb312;
    font-size: 1.7em;
    margin: 14vh 0 5vh;
}

.songsActHeading{
    color: #dbb312;
}

.artistsWrap, .albumsWrap, .songsWrap{
    background: #98702a;
    padding: 2rem;
    border-radius: 2rem;
}
.artistsWrap{
    margin-bottom: 3rem;
}

.artists, .albums{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
    align-items: start;
}

.artsLink, .albumsLink{
    color: #372403;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artsCase, .albumsCase{
    width: 100%;
    height: 100%;
    overflow:hidden;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.artsCase:hover, .albumsCase:hover{
    color: #6f4b0c;
    transition: 0.5s;
    transform: scale(1.01);
}

.artsCover, .albumsCover{
    height: 100%;
    width: 100%;
    pointer-events: none;
    object-fit: cover;
}

.artsName, .albumsTitle{
    text-align: center;
}

.homeSongsWrap{
    background-color: wheat;
    border-radius: 2rem;
    overflow: visible;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.homeSongsWrap::-webkit-scrollbar{
  display:none;
}

.homeSongs{
    width: fit-content;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #98702a;
}

.homeSongsItem{
    background-color: #201501;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 51px solid #614107;
}

.homeSongsFirstRow .homeSongsItem{
    border-bottom: none;
    
}

.homeSongsImgWrap{
    width: 8vw;
    height: 8vw;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.homeSongsImg{
    width: 100%;
    height: 100%;
}

.homeSongsNameWrap{
    width: 16vw;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.homeSongsName{
    margin: 0;
    font-weight: bold;
    color: #dbb312;
    font-size: 1.5rem;
}

.homeSongsArtist{
    display: flex;
    height: 2rem;
    margin: 0;
    /* padding-left: 1rem; */
    font-weight: lighter;
    color: #816c18;
    font-size: 1rem;
    align-items: end;
}



/* ALBUMS PAGE */

.albumsCase{
    border-radius: 1vw;
}



/* SONGS */

.songs{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    border-radius: 2rem;
    overflow: hidden;
    gap: 1rem;
    background-color: #201501;
}

.songsItem{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1.5rem;
    background-color: #201501;
    cursor: pointer;
}

.songsNumWrap{
    background-color: #372403;
    color: #dbb312;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 2rem;
}

.songsName{
    margin: 0;
    font-weight: bold;
    color: #dbb312;
    font-size: 1.5rem;
}

.songsAudioWrap{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
}



/* AUDIO SECTION */

.audioSec{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #201501;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
}

.removeWrap{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btnWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerbtn{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    cursor: pointer;
}

.player{
    width: 100%;
    height: 4rem;
}

svg{
    width: 4rem;
    height: 4rem;
    background-color: #dbb312;
    border-radius: 50%;
    padding: 1rem;
}

.remove{
    padding: 0.5rem;
    background-color: #dbb312;
    border-radius: 50%;
}

.removeBtn{
    width: 2rem;
    height: 2rem;
    padding: 0;
    font-size: 1px;
}

.btnActive svg{
    background-color: #eeff00;
}

.songsItem, .albumsLink, .artsLink {
    user-select: none;
}

.player::-webkit-media-controls-panel {
  background-color: #dbb312;
}

.timeWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.audioTime{
    color: #dbb312;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progWrap {
    width: 100%;
    height: 0.5rem;
    background: #575143;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.progBar {
    height: 100%;
    width: 0%;
    background: #dbb312;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progDot {
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    position: absolute;
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


/* HIDDEN */

.hidden{
    display: none;
}



/* FOOTER */

footer{
    color: #dbb312;
    text-align: center;
    margin: 5rem auto;
}

.insta{
    color: #dbb312;
}

.insta:hover{
    color: #665718;
    transition: 0.3s;
}