body {
    background: #372403;
    padding: 15px;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
}

/* Navigation */
nav {
    background-color: #201501;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
}

.navDiv {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 700px;
}

.navLink {
    color: #a48d2e;
    text-decoration: none;
}

.navLink:hover {
    color: #665718;
    transition: 0.5s;
}

/* Heading */
.heading {
    text-align: center;
    color: #a48d2e;
    font-size: 1.7em;
    margin-top: 120px;
    margin-bottom: 55px;
}

/* Main song list */
.mainHitMeBillie {
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    background: #a48d2e;
}

.theSongs {
    list-style: none;  /* remove bullets */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* stack songs vertically */
    gap: 20px;
}

.songItem {
    display: flex;
    align-items: center;
    background-color: #201501;
    border-radius: 15px;
    padding: 10px;
}

.songNumBox {
    background-color: #372403;
    color: #a48d2e;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
    font-weight: bold;
}

.songs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.songName {
    font-weight: bold;
    color: #fff;
}

.songAudio {
    width: 100%;
    border-radius: 10px;
    outline: none;
}

/* Footer */
footer {
    color: #a48d2e;
    text-align: center;
    margin: 100px auto;
    padding-bottom: 50px;
}

.insta {
    color: #a48d2e;
}

.insta:hover {
    color: #665718;
    transition: 0.3s;
}
